* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 250px;
}

header {
  height: 300px;
  padding-top: 50px;
  background: #293241;
  color:#E0FBFC;
  text-align:center;
  border-bottom-width: 2px;
  border-bottom-color: #EE6C4D;
  border-bottom-style: solid;
  font: 400 30px 'Roboto', sans-serif;
  
}
.main-nav,
.main {
  position: relative; 
}
.main-nav {
  z-index: 150;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
.main {
  background: #f2f2e8;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}

.main-nav ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EE6C4D;
}

.main-nav li{
	float:left;
}

.main-nav a {
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-nav a:hover {
	background-color: #98C1D9;
	color:#293241;
}



#page1, #page2 {
	height: 1000px;
	
	padding-top: 80px;
}